<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Umuttepe_Surucu_Kursu.Properties.Settings.Umuttepe_Surucu_KursuConnectionString" connectionString="Data Source=DESKTOP-P9EIUR1;Initial Catalog=Umuttepe_Surucu_Kursu;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Umuttepe_Surucu_Kursu.Properties.Settings.surucu_kursuConnectionString" connectionString="Data Source=DESKTOP-P9EIUR1\SQLEXPRESS;Initial Catalog=surucu_kursu;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
